<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    {% include icons.html %}
    <nav class="project-nav">
      <a href="/" class="home-btn">
        <svg class="home-icon" aria-hidden="true">
          <use href="#icon-left-arrow"></use>
        </svg>
        <svg class="home-icon" aria-hidden="true">
          <use href="#icon-home"></use>
        </svg>
      </a>
    </nav>
    <main class="project-wrap">
      <article class="project-content">
        {{ content }}
      </article>
    </main>
  </body>
</html>
